<footer>
    <div class="footer">
    <div class="container">
        <div class="row">
            <div  class="col-lg-4 col-sm-6">
                <div>
                    <h5 class="mb-4 footer-list-title">About the Invoza</h5>
                    <p>The Invoza is a sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem eaque </p>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-sm-6">
                <div>
                    <h5 class="mb-4 footer-list-title">Company</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a  href="javascript: void(0);">About Us</a></li>
                        <li><a  href="javascript: void(0);">Media &amp; Press</a></li>
                        <li ><a  href="javascript: void(0);">Career</a></li>
                        <li><a  href="javascript: void(0);">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div>
                    <h5  class="mb-4 footer-list-title">More Info</h5>
                    <ul  class="list-unstyled footer-list-menu">
                        <li><a href="javascript: void(0);">Pricing</a></li>
                        <li><a href="javascript: void(0);">For Marketing</a></li>
                        <li><a  href="javascript: void(0);">For CEOs </a></li>
                        <li><a  href="javascript: void(0);">For Agencies</a></li>
                        <li><a  href="javascript: void(0);">Our Apps</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div>
                    <h5 class="mb-4 footer-list-title">Contact</h5>
                    <div>
                        <div class="media">
                        <div  class="media-body"><p>476 University Drive Ridge, IL 61257</p>
                        </div>
                    </div>
                        <div class="media">
                            <div  class="media-body">
                                <p>exampleabc@armyspy.com</p>
                            </div>
                        </div>
                        <div class="media"><div  class="media-body"><p >0123-456-789</p></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <section class="bg-primary py-3">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-lg-6">
                    <div class="float-sm-left">
                        <a href="javascript: void(0);">
                            <img src="../../assets/images/footer-logo.png" alt="" height="50"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="float-sm-right d-flex  justify-content-md-end">
                            <p class="copyright-desc text-white mb-0">2022 © PenStdio. Created by PenStdio</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</footer>

