<section id="features" class="section">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h5>{{title}}</h5>
                <h3>{{subTitle}}</h3>
                <p>{{subTitlep}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div>
                <div>
                    <div class="circle-md">
                    <span class="s-circle-b"></span>
                    </div>
                    <h5>Improve your Marketing business</h5>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular.</p>
                    <div class="row">
                        <div class="col-6">
                            <p><i class="fa fa-check" aria-hidden="true"></i> Donec quam felis 
    </p>
                        </div>
                        <div class="col-6">
                            <p><i class="fa fa-check" aria-hidden="true"></i> Ultricies nec 
    </p>
                        </div>
                    </div>
                    <div class="mt-4"><a href="" class="btn btn-primary">Learn more </a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto col-sm-8 ">
            <div class="card border border-light shadow-none mt-5 mt-lg-0">
                <div class="card-header border-0 bg-transparent">
                    <div>
                        <i class="fa fa-circle mr-1 text-danger" aria-hidden="true"></i>
                         <i class="fa fa-circle mr-1 text-warning " aria-hidden="true"></i>
                         <i class="fa fa-circle mr-1 text-success" aria-hidden="true"></i>
                    </div>
                </div>
                
                    
                    <div class="card-body bg-light">
                        <div class="box-shadow">
                            <img _ngcontent-nvp-c11="" src="../../assets/images/demo/img-1.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 pt-5">
        <div class="col-lg-5  col-sm-8 ">
            <div class="card border border-light shadow-none mt-5 mt-lg-0">
                <div class="card-header border-0 bg-transparent">
                    <div>
                        <i class="fa fa-circle mr-1 text-danger" aria-hidden="true"></i>
                         <i class="fa fa-circle mr-1 text-warning " aria-hidden="true"></i>
                         <i class="fa fa-circle mr-1 text-success" aria-hidden="true"></i>
                    </div>
                </div>
                
                    
                    <div class="card-body bg-light">
                        <div class="box-shadow">
                            <img _ngcontent-nvp-c11="" src="../../assets/images/demo/img-1.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto">
            <div>
                <div>
                    <div class="circle-md">
                    <span class="s-circle-b"></span>
                    </div>
                    <h5>Improve your Marketing business</h5>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular.</p>
                    <div class="row">
                        <div class="col-6">
                            <p><i class="fa fa-check" aria-hidden="true"></i> Donec quam felis 
    </p>
                        </div>
                        <div class="col-6">
                            <p><i class="fa fa-check" aria-hidden="true"></i> Ultricies nec 
    </p>
                        </div>
                    </div>
                    <div class="mt-4"><a href="" class="btn btn-primary">Learn more </a></div>
                </div>
            </div>
        </div>
        
    </div>
    
    </div>
    </section>
