<section id="clients" class="section bg-light">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h5>{{title}}</h5>
                <h3>{{subTitle}}</h3>
                <p>{{subTitlep}}</p>                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h5 class="mb-4"><i class="fa fa-quote-left text-primary h1 mr-1" aria-hidden="true"></i>
    3,500 + Satisfied Client </h5>
    <app-client-carousel></app-client-carousel>
        </div>
    <!--     
        <app-owl-cacarousel></app-owl-cacarousel> -->
    </div>
    <div class="row mt-5">
        <div *ngFor = "let brand of brandImg" class="col-xl-3 col-sm-6">
            <div class="client-logo">
            <img class="mx-auto img-fluid d-block" src="{{ brand.brandImg }}"/>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-6">
            <div class="client-logo">
            <img class="mx-auto img-fluid d-block" src="../../assets/images/demo/3.png"/>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="client-logo">
            <img class="mx-auto img-fluid d-block" src="../../assets/images/demo/4.png"/>
                </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="client-logo">
            <img class="mx-auto img-fluid d-block" src="../../assets/images/demo/6.png"/>
            </div>
        </div> -->
    </div>
    </div>
    </section>
    <section class="section bg-primary counter">
    <div class="container">
     <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h3 class="text-white">{{subTitle2}}</h3>
                <p class="text-white-50">{{subTitlep2}}</p>                 
            </div>
        </div>
         <div class="row">
            <div *ngFor ="let busines of businessSolution" class="col-xl-3 col-sm-6">
                <div class="text-center mt-4">
                 <i [class]="busines.icon" aria-hidden="true"></i>
                <h2 class="text-white">{{busines.count}}</h2>
                <p class="text-white-50">{{busines.subLabels}}</p>
                </div>
             </div>
             <!-- <div class="col-xl-3 col-sm-6">
                <div class="text-center mt-4">
                    <i class="fa fa-user-plus fa-2x mb-3" aria-hidden="true"></i>
                <h2 class="text-white">800</h2>
                <p class="text-white-50">No. of Clients</p>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6">
                <div class="text-center mt-4">
                 <i class="fa fa-coffee fa-2x mb-3" aria-hidden="true"></i>
                <h2 class="text-white">128</h2>
                <p class="text-white-50">Cups of coffee</p>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6">
                <div class="text-center mt-4">
                 <i class="fa fa-trophy fa-2x mb-3" aria-hidden="true"></i>
                <h2 class="text-white">47</h2>
                <p class="text-white-50">Awards</p>
                </div>
             </div> -->
         </div>
    </div>
    </div>
    </section>
    
