<div class="nav2">
    <app-nav class="bg-none"></app-nav>
    </div>
    <section  id="home" class="banner" style="background: url(../../assets/images/bg-1.png) center center;">        
        <div class="top-padding">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <div class="banner-text">
                    <p class="font-16 text-uppercase">Discover PenStdio Today</p>
                    <h1 class="hero-title mb-4">Make your Site Amazing & Unique with PenStdio</h1>
                <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine occidental</p>
                    <div class="mt-4">
                <a href="" class="btn btn-primary mt-2 me-2">Get Started</a>
                <a href="" class="btn btn-success mt-2 ">Learn More</a>
                    </div>
                </div>                        
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <img src="../../assets/images/demo/banner-img1.png"/>
                </div>
            </div>
            </div>
    </div>
    </div>
    </section>
    
    
    <app-services></app-services>      
    <app-features></app-features>
    <app-clients></app-clients>
    <app-pricing></app-pricing>
    
    <app-demo-footer></app-demo-footer>
    
