
<section id="pricing" class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h5>Pricing</h5>
                    <h3>Choose your Plan</h3>
                    <p>It will be as simple as occidental in fact, it will be Occidental.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div 
             class="col-lg-12">
             <div  class="text-center mb-4">
                 <ul class="nav nav-pills pricing-nav-tabs mb-4">
                     <li class="nav-item">
                         <a   class="nav-link active">Monthly</a>
                    </li>
                         <li  class="nav-item">
                             <a href="javascript: void(0);" class="nav-link">Yearly</a></li>
                            </ul>
                        </div>
                    </div>
        </div>

        <div class="row">
            <div  class="col-lg-4 ng-star-inserted">
                <div class="pricing-plan card text-center">
                    <div class="card-body p-4">
                        <h5  class="mt-2 mb-5">Economy</h5>
                        <h1  class="mb-5">
                            <sup><small >$</small></sup>19/ <span class="font-16">Mo</span>
                        </h1>
                            <div>
                                <a href="javascript: void(0);" class="btn btn-primary">Join now</a>
                            </div>
                            <div class="plan-features mt-5">
                                <p>Bandwidth : <span class="text-success">1GB</span></p>
                                <p>Onlinespace : <span class="text-success">50MB</span></p>
                                <p>Support : <span class="text-success">No</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-4 ng-star-inserted">
                    <div class="pricing-plan card text-center"><div class="card-body p-4">
                        <h5 class="mt-2 mb-5">Premium</h5>
                        <h1 class="mb-5"><sup><small>$</small></sup>29/ <span class="font-16">Mo</span></h1>
                        <div>
                        <a href="javascript: void(0);" class="btn btn-primary">Join now</a>
                    </div>
                    <div class="plan-features mt-5">
                        <p>Bandwidth : <span class="text-success">2GB</span></p>
                        <p>Onlinespace : <span class="text-success">1GB</span></p>
                        <p>Support : <span class="text-success">No</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ng-star-inserted">
            <div class="pricing-plan card text-center">
                <div class="card-body p-4">
                    <h5 class="mt-2 mb-5">Developer</h5>
                    <h1 class="mb-5">
                        <sup><small>$</small></sup>39/<span class="font-16">Mo</span>
                    </h1>
                        <div>
                            <a href="javascript: void(0);" class="btn btn-primary">Join now</a>
                        </div>
                        <div class="plan-features mt-5">
                            <p>Bandwidth : <span class="text-success">3GB</span></p>
                            <p>Onlinespace : <span class="text-success">2GB</span></p><p>Support : <span class="text-success">Yes</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section subscribe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8  mb-4">
                <div class="text-center">
                    <h5>{{title}}</h5>
                    <h3>{{subTitle}}</h3>
                    <p>{{subTitlep}}</p>                     
                </div>
            </div>
                <div class="col-xl-8 col-lg-10">
                    <div class="text-center">
                        <div class="subscribe"><form>
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                        <input type="text" placeholder="Enter your E-mail address" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mt-3 mt-md-0">
                                        <button  type="button" class="btn btn-primary btn-block">Subscribe Us</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</section>
