<div class="nav2">
<app-nav class="bg-none"></app-nav>
</div>
<section  id="home" class="banner" style="background: url(../../assets/images/bg-1.png) center center;">        
    <div class="top-padding">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <div class="banner-text">
                <p class="font-16 text-uppercase">Discover PenStdio Today</p>
                <h1 class="hero-title mb-4">Make your Site Amazing & Unique with PenStdio</h1>
            <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine occidental</p>
                <div class="mt-4">
            <a href="" class="btn btn-primary mt-2 me-2">Get Started</a>
            <a href="" class="btn btn-success mt-2 ">Learn More</a>
                </div>
            </div>                        
        </div>
        <div class="col-md-6">
            <div class="col-lg-7  offset-md-4">
                <div class="card mx-auto p-4 rounded mt-5 mt-lg-0">
                    <div class="text-center">
                        <p class="text-muted mb-2 font-13 text-uppercase">Welcome To Invoza</p>
                        <h5 class="form-title mb-4">Get 30 Days Free Trial</h5>
                    </div>
                    <form class="registration-form">
                        <div class="form-group mb-4">
                            <label class="font-15">Your Name*</label>
                            <input type="text" id="name" placeholder="" class="form-control">
                        </div>
                        <div class="form-group mb-4">
                            <label class="font-15">Your Email*</label><input type="email" id="email" placeholder="" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label class="font-15">Password*</label>
                            <input type="password" id="password" placeholder="" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary btn-block btn-sm">Get Started <i class="mdi mdi-telegram ml-2"></i></button>
                    </div>
                    </form>
                </div>
            </div>
                        
        </div>
        </div>
</div>
</div>
</section>


<app-services></app-services>      
<app-features></app-features>
<app-clients></app-clients>
<app-pricing></app-pricing>

<app-demo-footer></app-demo-footer>
