<section id="services" class="section bg-light">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h5>{{title}}</h5>
                <h3>{{subTitle}}</h3>
                <p>{{subTitlep}}</p>
            </div>
        </div>
    </div>
    <div class="row">
      
        <div *ngFor ="let servicelist of serviceItem" class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-2">
                    <span class="circle-round-c rounded-circle bg-soft-primary">                     
                        <i [class]="servicelist.icon" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>{{servicelist.stitle}}</h5>
                    <p>{{servicelist.sContent}}</p>
                
            </div>
        </div>
        
        <!-- <div class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-2">
                    <span class="circle-round-c rounded-circle bg-soft-primary">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>Easy to customize</h5>
                    <p>If several languages coalesce, the grammar of the language.</p>
                
            </div>
        </div> -->
        
        <!-- <div class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-2">
                    <span class="circle-round-c rounded-circle bg-soft-primary">
                        <i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>Awesome Support </h5>
                    <p>The languages only differ in their grammar their pronunciation</p>
                
            </div>
        </div> -->
        
        <!-- <div class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-4">
                    <span class="circle-round-c rounded-circle bg-soft-primary">
                        <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>Creative Design</h5>
                    <p>Everyone realizes why a new common would be desirable.</p>
                
            </div>
        </div> -->
        <!-- <div class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-2">
                    <span class="circle-round-c rounded-circle bg-soft-primary">
                        <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>Quality Code</h5>
                    <p>To achieve this, it would be necessary to have uniform.</p>
                
            </div>
        </div> -->
        <!-- <div class="col-xl-4 col-sm-6">
            <div class="text-center p-4 mt-3">
                <div class="circle-md mx-auto mb-2">
                    <span class="circle-round-c rounded-circle bg-soft-primary">
                        <i class="fa fa-tablet fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                    <h5>Responsive layout</h5>
                    <p>Their separate existence is a myth. For science, music, etc.</p>
                
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="" class="btn btn-success">View more</a></div>
        </div>
    </div>
    </div>
    </section>