<div class="banner-a index-6">
    <div class="nav2">
        <app-nav class="bg-none"></app-nav>
        </div>
        <section  id="home" class="banner5 hero-section-5 bg-primary">        
           
            <div class="top-padding">
            <div class="container">
                <div class="row justify-content-center hero-bannert-content">
                <div class="col-lg-7">
                    <div class="banner-text text-center">
                    <p class="font-16 text-uppercase">Discover PenStdio Today</p>
                    <h1 class="hero-title mb-4"><b>Make your Site Amazing & Unique with PenStdio</b></h1>
                    <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine occidental</p>
                       
                    </div>
                    <div class="row justify-content-center">
                       
                            <div class="mt-4 text-center">
                                <a href="" class="mt-2 me-2">
                                    <span class="btn btn-primary  me-2">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </span>
                                    <span class="text-white">WATCH VIDEO</span>
                                </a>
                               
                                    </div>
                     
                    </div>                        
                </div>
               
                </div>
        </div>
        </div>
        
        </section>
        
        
        <app-services></app-services>      
        <app-features></app-features>
        <app-clients></app-clients>
        <app-pricing></app-pricing>
    </div>
        <app-demo-footer></app-demo-footer>
        
    
