<div class="top-border"></div>
<section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="header-content">
                <a href="#" target="_blank" class="btn-web">
                    <img src="../../assets/images/logo.png"/>
                </a>
                <h3>Responsive Landing page Template</h3>
                <a href="" class="btn btn-danger mt-3">Get Free Theams</a>
            </div>
        </div>
    </div>
</div>
</section>

<section class="">
<div class="container-fluid ">
    <div class="col-md-12 p-3">
    <div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo1" target="_blank">
                <img class="img-fluid" src="../../assets/images/1.png"/>
            </a>
            <h5 class="title">Demo 1</h5>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo2" target="_blank">
                <img class="img-fluid" src="../../assets/images/2.png"/>
            </a>
            <h5 class="title">Demo 2</h5>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo3" target="_blank">
                <img class="img-fluid" src="../../assets/images/3.png"/>
            </a>
            <h5 class="title">Demo 3</h5>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo4" target="_blank">
                <img class="img-fluid" src="../../assets/images/4.png"/>
            </a>
            <h5 class="title">Demo 4</h5>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo5" target="_blank">
                <img class="img-fluid" src="../../assets/images/5.png"/>
            </a>
            <h5 class="title">Demo 5</h5>
        </div>

    </div><div class="col-lg-4 col-sm-6">
        <div class="project-box">
            <a routerLink = "./demo6" target="_blank">
                <img class="img-fluid" src="../../assets/images/6.png"/>
            </a>
            <h5 class="title">Demo 6</h5>
        </div>

    </div>
</div>
</div>
</div>

</section>
<app-home-footer></app-home-footer>
