<div class="clientcarousel">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="card review-box">
        <div class="card-body p-4">
            <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
            
            <div class="text-container row row align-items-center">
                <div class="col-6">
                    <div class="row">
              <div class="col-3">
                <div class="circle1">
                <img src="../../assets/images/c-1.jpg"/>  
              </div>            
            </div>
                <div class="col-7">  
                <div class="review-author">Jon Chon</div>
                <div class="review-author-relation">PenStdio User</div>
                </div>
                    </div>
                    </div>
                
                <div class="col-6">
                <div class="d-flex justify-content-md-end">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                </div>
            </div>
        </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="card review-box">
        <div class="card-body p-4">
            <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
            
            <div class="text-container row row align-items-center">
                <div class="col-6">
                    <div class="row">
              <div class="col-3">
                <div class="circle1">
                <img src="../../assets/images/c-2.jpg"/>  
              </div>            
            </div>
                <div class="col-7">  
                <div class="review-author">Emma</div>
                <div class="review-author-relation">PenStdio User</div>
                </div>
                    </div>
                    </div>
                
                <div class="col-6">
                <div class="d-flex justify-content-md-end">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                </div>
            </div>
        </div>
        
        
                                   

    </div>
  </ng-template>  
  <ng-template carouselSlide>
      <div class="card review-box">
                    <div class="card-body p-4">
                        <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
                        
                        <div class="text-container row align-items-center">
                            <div class="col-6">
                                <div class="row">
                          <div class="col-3">
                            <div class="circle1">
                            <img src="../../assets/images/c-3.jpg"/>  
                          </div>            
                        </div>
                            <div class="col-7">  
                            <div class="review-author">Oliver</div>
                            <div class="review-author-relation">PenStdio User</div>
                            </div>
                                </div>
                                </div>
                            
                            <div class="col-6">
                            <div class="d-flex justify-content-md-end">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    
                                               

                </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="card review-box">
                    <div class="card-body p-4">
                        <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
                        
                        <div class="text-container row row align-items-center">
                            <div class="col-6">
                                <div class="row">
                          <div class="col-3">
                            <div class="circle1">
                            <img src="../../assets/images/c-4.jpg"/>  
                          </div>            
                        </div>
                            <div class="col-7">  
                            <div class="review-author">Ava</div>
                            <div class="review-author-relation">PenStdio User</div>
                            </div>
                                </div>
                                </div>
                            
                            <div class="col-6">
                            <div class="d-flex justify-content-md-end">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    
                                               

                </div>
  </ng-template>
    
</owl-carousel-o>
</div>