<div class="banner-a index-5">
<div class="nav2">
    <app-nav class="bg-none"></app-nav>
    </div>
    <section  id="home" class="banner5 hero-section-5" style="background: url(../../assets/images/bg-3.jpg) center center;">        
        <div class="bg-overlay"></div>
        <div class="top-padding">
        <div class="container">
            <div class="row justify-content-center hero-bannert-content">
            <div class="col-lg-7">
                <div class="banner-text text-center">
                <p class="font-16 text-uppercase">Discover PenStdio Today</p>
                <h1 class="hero-title mb-4"><b>Make your Site Amazing & Unique with PenStdio</b></h1>
                <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine occidental</p>
                   
                </div>
                <div class="row justify-content-center">
                   
                        <div class="mt-4 text-center">
                            <a href="" class="btn btn-primary mt-2 me-2">Get Started</a>
                            <a href="" class="btn btn-success mt-2 ">Learn More</a>
                                </div>
                 
                </div>                        
            </div>
           
            </div>
    </div>
    </div>
    
    </section>
    
    
    <app-services></app-services>      
    <app-features></app-features>
    <app-clients></app-clients>
    <app-pricing></app-pricing>
</div>
    <app-demo-footer></app-demo-footer>
    
